.button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  outline-width: 2px;
  outline-offset: 5px;
  text-decoration: none;
  margin: 0;
}

.link {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.2s ease-in-out, fill 0.2s ease-in-out, stroke 0.2s ease-in-out, border-color 0.1s ease-in-out;
  will-change: color, fill, stroke, border-color;
  border-bottom: 1px dashed;
  outline-width: 3px;

  &--plain {
    border-bottom: 0;
  }

  &--ic {
    color: var(--color-text-accent);
  }

  &:hover {
    outline: none;
    color: var(--color-accent);
    fill: var(--color-accent);
    stroke: var(--color-accent);
    border-bottom-color: transparent;
  }
}

.links-print-url .link,
.link--print-url {
  @media print {
    font-weight: 300;
    border-bottom: 0;
    color: var(--color-accent-dark);

    &::after {
      content: ' (' attr(href) ')';
    }
  }
}

.u-faded {
  opacity: 0;
}

.u-hidden {
  display: none;
}

.u-hide-tablet {
  @media (--tablet) {
    display: none;
  }
}

.u-show-tablet {
  display: none;

  @media (--tablet) {
    display: block;
  }
}
